
body {
    text-align: center;
    }
    .circle {
    border-radius: 50%;
    background-color: lightblue;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    }
    img {
    border-radius: 50%;
    }
    hr {
    border-style: groove;
    margin-bottom: 30px;
    }
    ul {
    text-align: center;
    }
 
    li {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    list-style: position: inside;
 
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        }
        
        td, th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        
        }
        
        th {
        background-color: lightgray;
        color: black;
        }
        
        tr:nth-child(even) {
        background-color: #f2f2f2;
        }
